Package: esudo
Version: 1.31
Section: main
Priority: optional
Replaces: gksu
Provides: gksu
Architecture: all
Depends: python-efl, python-pam
Maintainer: Jeff Hoogland
Description: eSudo (elementary sudo frontend)
 An Elementary GUI for sudo written in py-efls.
